@keyframes fadeIn{
    0% {opacity: 0;}
   100% {opacity: 100;}
   }
   





.Horizonlist{
    list-style-type: none;
margin: 1%;
overflow: hidden;
background-color: rgb(0, 0, 0);
font-family: 'Alumni Sans';
z-index: 40;
top: auto;
height: 10%;
}
.Horizonlist li{

   
    display: inline-block;
    padding: 1rem;
}
#center{
width: 100%;
text-align: center;
    
}
ul::after{

    color: #eaeaea;

}
.block{
width: 100%;
color: rgb(198, 69, 69);

}

ul.Horizonlist a :hover{
color:#eaeaea ;




}


ul.Horizonlist li a{
    
    color: rgb(219, 219, 219);
    
    font-size: 2.5rem;
    position: relative;
    transition: color 1s ease 100ms;
    padding: 5px;
    
    }

    a{

        text-decoration: none;
        outline: none;
        cursor: pointer;


    }
.section_Container{

width: 100%;
height: 25%;


}
.img_Container{
width: 100%;
height: 10%;
margin: 0px;
z-index: 0;
}
img{
    position: relative;
    width:  100%;
    height: 40rem;
    object-fit: none;
    z-index: 0;
    
    
}



.img_Container img{
    filter: blur(1.1rem) grayscale(100%);
    
   
    transition: filter 3s ;
   
    }
    figure :hover{
        filter: blur(1px) grayscale(0%);
       
        
        }
        figure:active{
            transition: none;
        }

.YT_preview{

overflow: hidden;
margin :-1px;
height: 50%;

}

.YT_Vid{
width: 100vw;
height: 240px;
overflow: hidden;
display: block;
position: relative;
z-index: 10;


}
.Vid_Contain{
width: 100%;

}
.Iframe_holder{

position: relative;
overflow: hidden;
width: 100%;
padding-top: 56.25%;

}
    a .iframe_vid{


position: absolute;
text-decoration: none;
outline: none;
filter: grayscale(100%); 
pointer-events: none; /*can't interact with video*/
width: 100%;
height:100%;
top: 0;
z-index: 0;
display: block;
    }

    a .iframe_vid:hover{


        display: block;
    }
    .cover:hover{

      background:rgba(255, 255, 255, 0) ;

    }

    .cover{
        top: 0;
display:block;
position: absolute;
z-index: 20;
width: 100%;
height: 100%;
background: #c5c5c5;
transition:  0.5s ease-out ;
/*Use the cover to hid the vid*/

    }
 .hover_text{
display: flex;
 margin: 0px;
 position: absolute;
 
 
    
 }
body{ 
animation: fadeIn 5s;
    margin: 0px;

background-color: black;
    }

header{

    z-index: 30;
}
#small-list{
height: 20rem;
overflow: hidden;

}
.Thumbnail_Text{
padding-left: 5%;
top: 20%;
color: aliceblue;
font-size: 5rem;
display: flex;
  position: absolute;
 font-family: 'Alumni Sans';
 text-align: center;
}
.Thumbnail_Text{
padding-left: 5%;
top: 20%;
color: aliceblue;
font-size: 5rem;
display: flex;
  position: absolute;
 font-family: 'Alumni Sans';
}

#sl_text{
    margin: 0px;

    color: #e2fff2;
    font-family: 'Alumni Sans';
    font-size: 4rem;
    text-align: left;
    padding-left: 2% ;
}

