<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <link rel="stylesheet"  type="text/css" href="{{url_for ('static', filename= 'css/loading.css')}}">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&family=Libre+Barcode+39+Extended&family=Noto+Sans+Cuneiform&family=Noto+Sans+Egyptian+Hieroglyphs&family=Noto+Sans+Ogham&family=Noto+Sans+Zanabazar+Square&family=Noto+Serif+Tangut&family=Open+Sans&family=PT+Serif&family=Single+Day&display=swap" rel="stylesheet"> 


    
    <script>
        $(document).ready(function(){

            $("#YS").click(function(){
                $("#funni_text").text( "{{D2}}");
                window.location.href='/Home';


            });
        });


    </script>
</head>


<body>
   <div id="container">

<div id="Overallcon">
    <div class="spot_container"> 
        <div class="container ">
        
        </div>
        </div>
        <div class=" top" > 
        <div class="l_dots " > ∴      </div>
        <div  class="l_dots" > ∴      </div>
        </div>
        
        <div class="loading">
            <div class="flex">
        <p >This page consists of occult themes and slightly unsettling images</p>
        <p id="funni_text">
            
            {{ data }}
         </p>
          
        </div>
        <div id="button_box"> 
        
         <button id="YS"> Yes</button>
         <button>NO</button>   
        
        </div> 
        </div>
        <div class=" bottom" >
        <div  class="l_dots" id ="LB">∴      </div>
        <div  class="l_dots" id="LU"> ∴      </div>
        </div>
    </div>

</div> 




 







</body>







</html>
