<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"  type="text/css" href="{{url_for ('static', filename= 'css/Main_Index.css')}}">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favico_io/favicon.ico') }}">
    <title>My dynamic portfolio website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Playpen+Sans:wght@200&family=Roboto:wght@100;500;700&family=Saira+Condensed:wght@100;200;300&family=Sometype+Mono&family=Unbounded:wght@500&display=swap" 
rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&family=Libre+Barcode+39+Extended&display=swap" rel="stylesheet">
    
   
  </head>
  <body>
    <div id='OA_Container'> 
   <header class=" web_header"> 
    
   

   <section>
    
    <div class="section_Container"> 
    
      <figure class="img_Container">
    <img class = "img_list"src="https://cdn.cara.app/production/posts/67716cea-86b7-4669-bc89-3947f1b64c1f/pastawooloo-znL35038_U8IVHWv2Oy_5-funny-3.jpg"  alt="Splash_thumbnail"/>
   </figure>
    <p class="Thumbnail_Text" > We Need More Than Just Gods </p>
    <div id="Arrow"></div>
    <div id="center">
      <ul class = " Horizonlist">
        
          
      <li><a href="/"> Main Page</a> </li>
      <li> <a href="/Intro">About </a> </li>
        <li> <a href="/Work"> work </a> </li>
            <li> <a href="/Socials"> Socials</a> </li>
              
      </ul>
      

      </div>
      </header>
    

  
    </div>
 </section>

 <section class="2D_Intro"> 
 <div class="section_Container"> 
 
   <figure class="img_Container">
 <a href='/Intro'><img class = "img_list" id="small-list"  src="https://cdn.cara.app/production/posts/f6aebc43-bc48-49f2-bac6-2aabfdd74a1f/pastawooloo-4NsNrXzHhvdyvQuKr3JQU-the-funny-7.png"/></a>
 
 </figure>
 </div>
 <div class="block">
  <div>
 <p id="sl_text">About Me</p>
 </div>
 </div>




</section>

  

   <section class="2D_Intro"> 
    <div class="section_Container"> 
    
      <figure class="img_Container">
        <a href='/Work' > <img class = "img_list" id="small-list"  src="{{url_for ('static', filename= 'Image/i.jpg')}}"/></a>
    
  </figure>
  <div class="block">
  <p id="sl_text">Illustrations and Concept Art</p>
 </div>




   </section>

   <section class=" YT_preview">
    <a class =" YT_Vid" href="https://www.youtube.com/embed/5T3ZBz3Nd3c?autoplay=1&mute=1&loop=1">
   <div class="Vid_Contain">
      <div class="Iframe_holder">
      <iframe class ='iframe_vid'
     src="https://www.youtube-nocookie.com/embed/5T3ZBz3Nd3c?autoplay=1&mute=1&loop=1"
      title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write;
       encrypted-media; gyroscope; picture-in-picture; 
    web-share" allowfullscreen=" "></iframe>
    <div class = "cover"></div>
  </div>
  
 </div>
    
    <p class="Thumbnail_Text"> Virtual Reality</p>
  </a>
  </section>


  <section > 
 <p > News</p>




  </section>
  <section>

 <p > Caravan</p>

  </section>
</div>
  </body>

</html>
